<% provide(:title, 'forgot password') %>
<div id="password_resets_new" class="password_resets">
  <div class="center">
    <h5>Forgot your password?</h5>
    <p>plot your journey</p>
  </div>

  <%= form_for :password_resets, url: password_resets_path,  html: { class: 'small-form' } do |f| %>
    <div class="form-group" style="margin-top: 30px;">
      <%= f.label :email %>
      <%= f.text_field :email, autofocus: true, class: 'form-control' %>
    </div>
    <%= f.submit 'submit', class: 'btn blue center' %>
  <% end %>
</div>