<div class="modal fade" id="readme-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Welcome to driftMaps</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="margin: 3% 0 4%">
          <h6 style="font-style: italic;">What is driftMaps.com?</h6>
          <p style="padding-left: 4%;">driftMaps.com integrates all the adventures of world exploration into an expressive cartographic experience.</p>
        </div>

        <div style="margin: 3% 0 4%">
          <h6 style="font-style: italic;">How does it work?</h6>
          <p style="padding-left: 4%;">driftMaps.com is organized into <span style="font-style: italic;">Journeys</span> and <span style="font-style: italic;">Way Points.</span>  For example a trek across South America, will have many stops along the way in cities, towns or parks.</p>
        </div>

        <div style="margin: 3% 0 4%">
          <h6 style="font-style: italic;">What kind of stuff will a Way Point include?</h6>
          <p style="padding-left: 4%;">For starters, Way Point content creation is organized into 3 categories: Photos, Friends and Essays. </p>
        </div>

        <div style="margin: 3% 0 4%">
          <h6 style="font-style: italic;">Interested in contributing to driftMaps.com?</h6>
          <p style="padding-left: 4%;">Great! Check out the <a href="https://github.com/eozelius/driftMap">github repo</a> and send me an email at <a href="mailto:e.ozelius@gmail.com?Subject=I%20Would%20Love%20To%20Contribute%20To%20driftMaps" target="_top">e.ozelius@gmail.com</a> </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>