// $lt-blue: #C2D9EB;
$lt-blue: #78acd3;
//$lt-blue-active: #78acd3;
$lt-blue-active: #5A99D3;
$maroon: #552727;
$maroon-active: #8C565B;
$dark-grey: #5f5f5f;
$white-grey: #E9EEF0;

.maroon { color: $maroon; }

.lt-blue { color: $lt-blue; }