/**
 * CONTENTS
 *
 *   0. Style Manifest file
 *   A. Import Third Party fonts & Styles
 *   B. Eric Meyer Css Reset translated into Scss
 *   C. Fonts
 *   D. Forms
 *   E. Buttons
 *   G. Navbar
 *   H. Modals
 *   I. class keywords
 *   J. flash messages
 *

 */

/*------------------------------------*\
         # 0. Custom Styles Manifest
\*------------------------------------*/
@import "home";
@import "sessions";
@import "colors";

/*------------------------------------*\
            # A. Third Party
\*------------------------------------*/
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

/*------------------------------------*\
            # B. Eric Meyer Reset
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;

  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-size: 20px;
  line-height: 1;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
          # C. Fonts
\*------------------------------------*/

p, span, a, label {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding: 1%;
  margin: 2px 4px 4px;
}

p, label, span {
  color: $maroon;
}

span {
  font-size: .8em;
  color: $lt-blue;
}

a {
  color: $lt-blue !important;
  cursor: pointer;

  &:hover {
    color: $lt-blue-active !important;
    text-decoration: none !important;
  }
}

h1 {
  font-size: 2.5em;
  color: $dark-grey;
}

h2 {
  font-size: 2.25em;
  color: $maroon;
}

h3 {
  font-size: 2em;
  color: $dark-grey;
}

h4 {
  font-size: 1.75em;
  color: $maroon;
}

h5 {
  font-size: 1.5em;
  color: $dark-grey
}

h6 {
  font-size: 1.25em;
  color: $maroon;
}

/*------------------------------------*\
            # D. Forms
\*------------------------------------*/
form {
  display: block;
  margin: 2% auto 5%;
  padding: 2% 4% 5%;
}

form.small-form {
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

form.medium-form {
}


/*------------------------------------*\
            # F. Buttons
\*------------------------------------*/
.btn {
  cursor: pointer;
}

.btn.blue {
  background-color: $lt-blue;

  &:hover {
    background-color: $lt-blue-active;
  }
}

/*------------------------------------*\
            # G. NavBar
\*------------------------------------*/
.navbar {
  .profile-pic-thumbnail {
    width: 35px;
    height: 35px;
    display: inline;
    border-radius: 4px;
    margin-top: 2.5px;
  }

  ul.navbar-right {
    height: 40px;

    li {
      line-height: 40px;

      span {
        margin: 0 10px;
        color: $lt-grey;
      }

      a {
        &:hover {
          text-decoration:none;
        }
      }
    }
  }

  a {
  }
}

/*------------------------------------*\
            # H. Modals
\*------------------------------------*/

/*------------------------------------*\
         # I. class keywords
\*------------------------------------*/
.center {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.hidden { display: none; }

.clear-fix {
  width: 100%;
  display: block;
  height: 1px;
  background-color: transparent;
}

.pull-right { float: right }
.pull-left { float: left }



/*------------------------------------*\
          # J. Flash Messages
\*------------------------------------*/
.alert {
  position: absolute;
  left: 2%;
  right: 2%;
  top: 2%;
  height: 50px;
  z-index: 999;
}