#sessions_new {
  form {
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .first-timer {
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0 auto;
    height: auto;
    text-align:center;
    padding: 1%;
  }
}